<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" 
        crossorigin="anonymous">
        <title>Edit Post</title>
    </head>
    <body>
        <h2>Edit Post</h2>
        <form method="POST">
            <p>Title: <input name="title" value="{{post.title}}"></p>
            <p>Content:  <textarea name="content" rows="5" cols="100">{{post.content}}</textarea></p>
            <ul>
                {% if post.tags %}
                {% for tag in post.tags %}
                
                    <input type="checkbox"  name="tags" value="{{ tag.id }}" id="tag_{{ tag.id }}" checked>
                    <label  for="tag_{{ tag.id }}">{{ tag.name }}</label><br>
                {% endfor %}
                {% endif %}

                
                {% for tag in tags %}
                {% if tag not in post.tags  %}
                    <input type="checkbox"  name="tags" value="{{ tag.id }}" id="tag_{{ tag.id }}" >
                    <label  for="tag_{{ tag.id }}">{{ tag.name }}</label><br>
                {% endif %}
                {% endfor %}
                
                
            </ul>
           
            <button class="btn btn-success">Save</button>
          </form>
          <form action="/{{ user.id }}/{{ post.id }}">
            <button class="btn btn-danger">Cancel</button>
        </form>
    </body>
</html>