<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" 
        crossorigin="anonymous">
        <title>{{ user.fn() }}</title>
    </head>
    <body>
        <div class="container"></div>
            <div class="row align-items-start">
                <div class="col">
                    <img src="{{ user.image_url }}" alt="{{ user.fn() }}" height="300"  >
                </div>
                <div class="col">
                    <h2>{{ p.title }}</h2>
                    <p>{{ p.content }}</p>
                    <a href="/{{ user.id }}">by {{ user.fn() }}</a><br>
                </div>
                <div class="col">
                    <form action="/{{p.id}}/edit_post">
                        <button type="submit" class="btn btn-primary">EDIT THIS POST</button>
                    </form>
                    <form action="/{{p.id}}/delete_post" method="POST">
                        <button type="submit" class="btn btn-danger">DELETE THIS POST</button>
                    </form>
                    <br> 
                </div>
            </div>
        </div>
       

        

       
       
    </body>
</html>